@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: rgb(195, 171, 171);
  background: linear-gradient( 158deg, rgb(60 60 60) 37%, rgb(0 0 0) 93%, rgb(0 0 0 / 94%) 98% );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  background: #000000;
  opacity: 1;
  box-shadow: 0 0 20px black;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header.containerHeader {
  min-width: fit-content;
}

nav.Nav {
  width: 100%;
}

/* #navBar {
  padding: 20px;
   display: flex;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
} */
ul {
  margin: 0;
  padding: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

h2.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  font-family: cursive;
  font-size: 19px;
  border-bottom: 3px solid antiquewhite;
  margin: 0 auto;
}
.logo img {
  height: 137px;
  width: 74%;
  background: #bebe21;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgb(229, 255, 0);
  margin: 7px auto;
  animation: colorfull 1.8s 1s infinite;
}
@keyframes colorfull {
  0% {
    border: 5px double rgb(221, 0, 255);
  }
  25% {
    border: 5px double blue;
  }
  50% {
    border: 5px double rgb(0, 255, 47);
  }
  75% {
    border: 5px double rgb(233, 43, 116);
  }
  100% {
    border: 5px double rgb(237, 213, 30);
  }
}

.right {
  display: flex;
  gap: 17px;
}

li {
  padding: 15px;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  color: darkblue;
  padding: 5px;
}


ul a:hover {
  background-color: rgb(254, 254, 254);
  border-radius: 10px;
  border: 1px groove black;
  color: red;
}
.menu {
  display: none;
}
#menu{
  color: white;
}
/* .Bar{
  display: flex;
  flex-direction: column;
} */

.menu-1 {
  color: white;
  font-size: 40px;
}

.containerSide {
  position: fixed;
  z-index: 9999;
  top: 0;
}

div#cont-alrt {
  margin: auto;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
    background-image: url(/img/white-chair-room_53876-92952.avif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .side-bar{
    background-color: rgb(77 24 39 / 84%);
    position: absolute;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease-in;
} */

.main-cont {
  min-height: 100vh;
  max-height: 100%;
  height: 100%;
  background-image: url(./assets/cuplaptop.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .developer-pic {
    margin: auto -97px;
    border-bottom: 7px solid red;
}

.developer-pic img {
    border: 2px solid white;
    box-shadow: 0 0 38px cornsilk;
    background-color: #80808042;
    opacity: 0.9;
    border-radius: 27%;
} */

/* .container{
    display: flex;
 
} */

/* .side-bar nav {
    padding: 60px 2px;
} */

/* nav ul {
    list-style-type: none;
    margin: 0 25px;
} */

/* nav ul li {
    font-size: 17px;
    margin: 10px 0;
    font-family: system-ui;
    font-weight: 600;
    padding: 24px 15px;
} */

/* nav ul li a {
    text-decoration: none;
    color: snow;
} */

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff088d;
  font-size: 16px;
}

span img {
  width: 49%;
  height: 57px;
  margin: 0 31px;
  background-color: aliceblue;
  border-radius: 14%;
}

.text-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -40px;
}

.text-name h1 {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: fantasy;
  color: DODGERBLUE;
  margin: -20px -9px;
}

.text-name h2 {
  color: #ff8686;
  font-family: system-ui;
  margin: -4px;
}

.infoContainer {
  height: 80vh;
  width: 73vw;
  margin: 64px auto;
  display: flex;
}

.developerIntro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
}

.hello {
  font-size: 76px;
  padding: 14px 0px;
  color: #fffe00;
}

.name {
  font-size: 43px;
  font-family: system-ui;
  font-weight: bold;
  color: #00fffd;
}

.field {
  font-size: 26px;
  padding: 22px 0;
  color: white;
}

.about {
  width: 100%;
  font-size: 18px;
  margin: -2px -41px;
  font-family: math;
  color: #ffffffe0;
  word-spacing: 2px;
  text-align: justify;
  padding: 0 44px;
}

.info-btns {
  padding: 2px 0;
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-btns i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: inherit;
}

.btn-1{
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: aliceblue;
  background-color: #ff0071;
  cursor: pointer;
}

.btn-1:hover{
  background-color: #58f460;
}

.dowld {
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: rgb(239, 241, 244);
  background-color: #ff0071;
  cursor: pointer;
}

 .dowld:hover {
  background-color: #068e7c;
  color: rgb(212, 213, 214);
}

.view {
  padding: 6px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  background-color: darkgrey;
  width: 97px;
  margin: 0 10px;
  color: aliceblue;
  background-color: #592fff;
  cursor: pointer;
}

.view:hover {
   background-color: antiquewhite; 
  color: black;
}

/* contact form */

/* h1.cont-head {
    text-align: center;
    margin-top: 27px;
    font-family: 'Ubuntu';
    word-spacing: 9px;
    color: #d80a0a;
}

.contact-detail {
    background-color: #89898940;
    width: fit-content;
    margin: 218px auto;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0 0 42px;
}

form {
    text-align: center;
    margin-top: 46px;
}

.mb-3 {
    margin: 15px 0;
}

label.form-label {
    color: darkblue;
    font-size: 20px;
    font-family: 'Roboto';
}

input#clientEmail {
    margin: 8px 11px;
    box-shadow: 0 0 10px;
    border-radius: 6px;
    width: 40%;
    border: 1px double #efefef;
    background-color: #dedcdc;
    text-align: center;
}

div#emailHelp {
    font-family: 'Ubuntu';
    color: brown;
    font-size: 16px;
}

label.form-label {
    color: darkblue;
    font-size: 20px;
    font-family: 'Roboto';
}

input#clientPhone {
    margin: 3px 7px;
    border-radius: 5px;
    border: 1px solid #ffe0f3;
    background-color: #d4d4d4c9;
    box-shadow: 0 0 8px;
    text-align: center;
    width: 29%;
}

.mb-3.form-check {
    margin: 23px 0;
}

input#isClient {
    margin: 0px 9px;
}

label.form-check-label {
    font-size: 17px;
    font-family: 'Roboto';
    color: brown;
} */

/* button.btn.btn-primary {
    background-color: greenyellow;
    border: none;
    padding: 6px;
    border-radius: 20px;
    font-size: 15px;
    color: #02080c;
} */

/* blog container */

/* .blogcontainer {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 58px;
}

.col {
    width: 255px;
    height: 198px;
    margin: 100px auto;
    border: 4px double #e8e8e8;
    background-color: #efefef;
    border-radius: 20px;
    padding: 10px;
}

h2 {
    font-size: 26px;
    font-family: system-ui;
    color: brown;
}

h2 {
    font-size: 26px;
    font-family: system-ui;
    color: brown;
}

.blogcontainer {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 255px;
    height: 198px;
    margin: 32px auto;
    border: 4px double #e8e8e8;
    background-color: #efefef;
    border-radius: 20px;
    padding: 7px 0;
}

.blog-item p { */
/* margin: 18px 0;
    font-size: 15px;
    text-align: justify;
    font-family: math;
    padding: 2px;
}

 .main-cont .head {
    background-color: cornsilk;
    text-align: center;
    font-size: 34px;
    font-family: system-ui;
    color: #795454;
    width: 300px;
    border-radius: 20px;
    padding: 4px;
    margin: 10px auto;
    border: 5px groove peachpuff;
}*/

.Education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 15px auto;
  width: 100%;
}

#egg_shape {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 248px;
  border-radius: 74% 60% 84% 70% / 100% 79% 53% 62%;
  width: 240px;
  background-color: #fff025;
}

.developer-pic img {
  width: 382px;
  height: 361px;
  padding: 25px;
  margin-bottom: 69px;
  margin-right: 8px;
  border-radius: 50%;
  box-shadow: 64px 18px 0px 67px #35353563;
}

/* .developer-pic {

} */


.topInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #ffc5c5;
  width: 46vw;

  padding: 0px 36px;
  border-radius: 10px;
  box-shadow: 10px 20px 30px;
  transition: .3s , bac;
}

.topInfo:hover {
  scale: 1.02;
}

.edu-head {
  padding: 13px;
  font-size: 26px;
  font-family: cursive;
  color: #ff0000;
}

.containerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btnH{
  display: none;
}
.btnV{
  display: flex;
}

.edu-open {
  /* display: none; */
  width: 100px;
  height: 42px;
  background-color: #f42c2c;
  color: #e2e2e2;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-family: sans-serif;
}

button.edu-btn {
  width: 100px;
  height: 42px;
  background-color: aqua;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
}

.More-Info {
  width: 82vw;
  background-color: white;
  padding: 17px;
  margin: 34px 10vw;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 20px 33px;
  border-radius: 20px;
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;

    transform: translateY(-10px);
  }
  to {
    opacity: 1;

    transform: translateY(0);
  }
}

.notInfo {
  display: flex;
}

.More-Info h4 {
  background-color: black;
  border-radius: 12px;
  padding: 13px;
}

.More-Info h5 {
  font-size: 25px;
  font-family: system-ui;
  color: red;
  border-bottom: 2px solid black;
  margin: 33px;
  padding: 8px;
  width: 59vw;
}

.sclicon {
  font-size: 43px;
  color: black;
}

.projt {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  align-items: center;
}

.projt_view {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.detail-pro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: transitionOut 1.5s;
}

@keyframes transitionOut {
  from {
    opacity: 0;
    transform: translateZ(-10px);
  }
  to {
    opacity: 1;
    transform: translateZ(0px);
  }
}

.edu-btn a {
  display: contents;
  color: black;
  font-weight: bold;
  width: 100px;
  height: 46px;
}
.edu-btn:hover {
  background-color: #58f460;
  color: red;
}

.edu-btn a:hover {
  color: red;
}
.pro-pic {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 25px;
  margin: 25px;
  box-shadow: 7px 27px 22px;
}

.pro-pic img {
  width: 216px;
  height: 24vh;
}

.fav_sport {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.issport {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cricket {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ffffff36;
  border-radius: 22px;
  margin: 46px;
  height: fit-content;
  box-shadow: 7px 17px 19px;
  animation: open 0.8s alternate;
}

@keyframes open {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cricket h2 {
  font-size: 35px;
  font-family: sans-serif;
  color: cornsilk;
  background-color: black;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
}

.cricket img {
  width: 22vw;
  height: 40vh;
  border-radius: 30px;
  box-shadow: 10px 20px 30px;
  object-fit: cover;

}
/* .badm_img{

} */

.cricket p {
  font-size: 20px;
  font-family: system-ui;
  font-weight: 500;
  width: 31vw;
  text-align: justify;
  color: white;
  padding: 24px;
  margin: 10px;
  background-color: #000000c4;
  border-radius: 17px;
  box-shadow: 7px 22px 22px black;
}

.expbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  animation: onvisible 1s;
}
@keyframes onvisible {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.expbox img {
  width: 14vw;
}

.fit-box {
  border-radius: 26px;
  box-shadow: 9px 16px 27px;
  background: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.expbox h2 {
  font-size: 22px;
  font-family: sans-serif;
  padding: 11px;
  background: black;
  color: #e0e06a;
  border-radius: 11px;
}

.expbox img {
  width: 249px;
  margin: 17px;
  border-radius: 34px;
  box-shadow: 5px 10px 42px;
  object-fit: cover;
}

.exp-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exp-detail h3 {
  font-size: 23px;
  color: black;
  padding: 7px;
}

.exp-detail h5 {
  color: #999999;
  font-size: 18px;
  margin: 8px;
  font-family: math;
}

.exp-detail h1 {
  color: #7d1515;
}

.exp-detail a {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.exp-detail p {
  width: 64vw;
  font-size: 19px;
  line-height: 1.2;
  word-spacing: 5.2px;
  padding: 10px;
  color: #535050;
}

.heading-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button.detail-btn {
  padding: 7px;
  width: 257px;
  font-size: 24px;
  font-weight: bolder;
  background: cornsilk;
  border-radius: 12px;
  border: none;
  box-shadow: 4px 23px 110px darkblue;
  cursor: pointer;
}

p.detl-line {
  color: #f4f4f4;
  font-size: 16px;
  font-family: sans-serif;
  padding: 12px;
  border-bottom: 3px solid grey;
  background: #f72e12d6;
  border: none;
  box-shadow: 0px 25px 46px black;
  border-radius: 33px;
  margin: 12px auto;
  animation: Blinking 0.75s infinite;
}
@keyframes Blinking {
  0% {
    opacity: 1;
    background-color: rgb(238, 13, 13);
  }
  50% {
    opacity: 0.5;
    background-color: red;
  }
  100% {
    opacity: 1;
    background-color: #e91414;
  }
}
#blank_div{
height: 300px;
width: 300px;
opacity: 0.3;
background-color: rgba(255, 255, 255, 0.601);
box-shadow: 10% 20% 30% 40% black;
border-radius: 20px;
}

.visible{
opacity: 1;
transition: all 2000ms cubic-bezier(.47,1.64,.41,.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-right: 73px;
}



.invisible{
opacity: 0;
}

.contact_detl {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 99px;
}

iframe {
  height: 50vh;
  width: 80%;
  border-radius: 20px;
}

.Container_contact h1 {
  color: white;
  font-size: 49px;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.Container_contact h5 {
  font-size: 21px;
  font-family: system-ui;
  padding: 19px;

  color: rgb(0, 160, 160);
}

.logo-detl {
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 9px 29px 83px 2px;
  margin-top: 41px;
  width: 43vw;
}

.logo-detl ul {
  display: block;
}

.logo-detl a {
  display: flex;
  color: #230c0cd6;
  padding: 12px;
}

a.call {
  width: 60px;
  background-color: rgb(85, 175, 235);
  border-radius: 15px;
  justify-content: flex-start;
  transition: background-color 1s linear 0.2s;
  transition: width 1.5s linear 0.2s;
}

.call:hover {
  background-color: rgb(65, 168, 237);
  width: 292px;
}

svg#phone {
  color: black;
  margin-right: 30px;
}

.svgcont {
  height: 3vh;
}

a.whats {
  width: 60px;
  background: rgb(32, 230, 14);
  border-radius: 15px;
  justify-content: flex-start;
  transition: background-color 1s linear 0.2s;
  transition: width 1.5s linear 0.2s;
}
.whats:hover {
  background: rgb(32, 230, 14);
  width: 292px;
}

svg#whats {
  color: black;
  margin-right: 30px;
}

a.email {
  width: 60px;
  background: rgba(243, 30, 30, 0.638);
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  border-radius: 12px;
  transition: background-color 1s linear 0.2s;
  transition: width 1.5s linear 0.2s;
}
.email:hover {
  background: rgba(243, 30, 30, 0.638);
  width: 292px;
}

svg#email {
  color: #1a1918;
  margin-right: 30px;
}

a.linkedin {
  width: 60px;
  background: #2956c8;
  border-radius: 13px;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s linear 0.2s;
  transition: width 1.5s linear 0.2s;
}
.linkedin:hover {
  background: #2956c8;
  width: 292px;
}

svg#linkedin {
  margin-right: 30px;
}

a.github {
  width: 60px;
  background: #0c101a6c;
  border-radius: 13px;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s linear 0.2s;
  transition: width 1.5s linear 0.2s;
}
.github:hover {
  background: #0c101ab0;
  width: 292px;
}
svg#github {
  margin-right: 30px;
}

a.location {
  width: 60px;
  background: #068e7c;
  border-radius: 13px;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s linear 0.2s;
  transition: width 1.5s linear 0.2s;
}
.location:hover {
  background: #068e7c;
  width: 292px;
}
svg#location {
  margin-right: 30px;
}

.alert {
  background-color: rgb(27 23 23);
  padding: 5px;
  display: flex;
  text-align: center;
  width: 299px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 1px;
  animation: bounce 1s ease-out 0s alternate 4 ;
}
@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 40px, 0); }
}
strong {
  color: azure;
}

#cross{
  color: aliceblue;
  background-color: #de2a2a;
  border-radius: 5px;
}

.alert p{
  font-size: 14px;
  color: #faff2e;
  font-family: serif;
}


.al .alert{
  display: none;
}

.port {
  display: none;
}

.noneView {
  display: flex;
}

.skillcontainer {
  height: 100vh;
  background-position: center;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 45vh;
  display: flex;
  background-color: #ffffffd1;
  flex-direction: column;
  margin-top: 6vh;
  padding: 10px;
  border-radius: 31px;
  box-shadow: 26px 29px 17px;
}

.skillitem {
  margin: 12px;
  font-size: 24px;
  font-family: system-ui;
  color: rgb(1, 2, 2);
  font-weight: 600;
}

.skill-1 {
  width: 20px;
  height: 10px;
  background-color: #7fcd5c;
  margin: 9px 0;
  box-shadow: 3px 3px 2px 1px rgb(76, 228, 78);
  border-radius: 5px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 1s;
  cursor: pointer;
}
.skill-1:hover {
  width: 206px;
}

.skill-2 {
  height: 10px;
  width: 20px;
  background-color: blueviolet;
  margin: 9px 0;
  box-shadow: 3px 3px 2px 1px rgb(154, 151, 231);
  border-radius: 5px;
  cursor: pointer;
  transition: width 1s linear 1s;
}
.skill-2:hover {
  width: 250px;
}

.skill-3 {
  height: 10px;
  width: 20px;
  background-color: #89858c;
  margin: 9px 0;
  box-shadow: 3px 3px 2px 1px grey;
  border-radius: 5px;
  cursor: pointer;
  transition: width 1s linear 1s;
}
.skill-3:hover {
  width: 190px;
}

.skill-4 {
  height: 10px;
  width: 20px;
  background-color: #d0e22b;
  margin: 9px 0;
  box-shadow: 3px 3px 2px 1px rgb(227, 233, 102);
  border-radius: 5px;
  cursor: pointer;
  transition: width 1s linear 1s;
}
.skill-4:hover {
  width: 207px;
}

.skill-5 {
  height: 10px;
  width: 20px;
  background-color: #e22b2b;
  margin: 9px 0;
  box-shadow: 3px 3px 2px 1px rgb(227, 90, 90);
  border-radius: 5px;
  cursor: pointer;
  transition: width 1s linear 1s;
}
.skill-5:hover {
  width: 195px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

h4 {
  padding: 25px 12px;
  font-size: 31px;
  color: #ffb928;
  font-family: sans-serif;
}

h3 {
  font-size: 66px;
  color: #ffe400;
  opacity: 1;
  border-bottom: 3px solid #e4e4e4;
  font-family: fantasy;
  text-align: center;
  letter-spacing: 4px;
}

.intro p {
  color: #dbffff;
  line-height: 1.5;
  font-family: system-ui;
  font-size: 17px;
  word-spacing: 8px;
  padding: 41px 64px;
  background-color: #00000091;
  border-radius: 26px;
}

.para {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  text-align: justify;
}

.flex {
  display: flex;
  margin: 20px 9px;
  justify-content: space-between;
}

.pro-1,
.pro-2 {
  border: 5px groove #e1d5d5;
  background-color: #d1d1d170;
  border-radius: 20px;
  padding: 10px 3px;
  height: 300px;
}

.pro-1 img {
  width: 13vw;
  margin: 0 41px;
}

.pro-2 img {
  width: 13vw;
  margin: 0 41px;
}

h5 {
  text-align: center;
  margin: 31px;
}

h5 a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: green;
}

h1 {
  padding: 17px 15px;
  color: red;
  font-family: sans-serif;
}

.sidebarGo {
  transform: translate(-238px, 0px);
  position: absolute;
  background-color: #7f28287d;
}

.hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(0 0 0);
}

.ham,
.cross {
  width: 30px;
  cursor: pointer;
  font-size: 49px;
}
.cross {
  margin-left: 98px;
  color: black;
}
*/ span {
  color: #e22b2b;
  text-shadow: 0 0 10px whitesmoke;
}

body#contactPage {
  background-image: url(/img/whiteback.avif);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

#servicePage {
  background-image: url(/img/flat-lay-desk-concept-with-copy-space.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

#blogPage {
  background-color: #89858c;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

#introPage {
  background-image: url(/img/flat-lay-desk-concept-with-copy-space.jpg2);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.socialMedia {
  padding: 138px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sites {
  padding: 10px;
  margin: 27px -20px;
  background-color: #99f7ff0d;
  border-radius: 20px;
  box-shadow: 0 0 100px;
}

.sites h1 {
  padding: 17px 15px;
  margin: 50px;
  font-size: 49px;
  color: #efff00;
  text-shadow: 0 0 118px;
  border-bottom: 7px groove darkgrey;
  font-family: sans-serif;
  width: 84vh;
}
.sites span {
  color: #e22b2b;
  margin: 53px;
  text-shadow: 0 0 10px whitesmoke;
}

.S-bar {
  width: 20vw;
  height: 0;
  background-color: cadetblue;
  display: flex;
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #2b2b2beb;
  height: 100vh;
}

.display {
  display: flex;
}

.none {
  display: none;
}

h1.logo {
  /* padding: 43px 0; */
  margin: -9px 48px;
}

.bars ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bars a {
  color: aliceblue;
  display: flex;
}

.bars:hover {
  color: #1a1918;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  margin: 0px 10px;
}

ion-icon#insta {
  font-size: 50px;
  color: #ff006f;
}

ion-icon#linkedin {
  font-size: 50px;
  color: #5692ff;
}

ion-icon#twit {
  font-size: 50px;
  color: #1cabd9;
}

ion-icon#email {
  font-size: 50px;
  color: #ed2525;
}

ion-icon#whatsapp {
  font-size: 50px;
  color: #04ff10;
}

@media (max-width: 325px) {
  .main-cont .head {
    margin: 65px auto;
    background-color: #d0e22b;
    border: none;
    color: rgb(12, 11, 11);
    box-shadow: 0 0 37px black;
  }

  .para p {
    font-size: 14px;
    padding: 13px;
    word-spacing: 3px;
  }

  img.badm_img {
    width: 200px;
    object-fit: cover;
}


/* .intro_detl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


}

@media (max-width:375px) {
  .infoContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 114px auto;
  }
  #egg_shape{
    border-radius: 50%;
    height: 151px;
    width: 159px;
  }
  .developer-pic img{
    height: 265px;
    width: 298px;
  }
  .exp-detail h1{
    font-size: 25px;
  }
 
}



@media screen and (min-width: 375px) {
  .main-cont .head {
    margin: 65px auto;
    background-color: #bbf500;
    border: none;
    color: rgb(12, 11, 11);
    box-shadow: 0 0 37px black;
  }

}
@media (max-width:425px) {

  .containerSide h1{
    font-size: 38px;
    margin: 0;
  }

  .containerSide h5{
    padding: 0;
    font-size: 16px;
  }
.developer-pic{
  box-shadow: none;
  background-color: none
  ;
}
.developer-pic img {
  margin: 1px auto;
  background: none;
  box-shadow: none;
  /* height: 431px; */
  padding: 62px;
  }
  
  .dowld{
    font-size: 19px;
  }
  /* .view{
    padding: 17px;
    font-size: 32px;
    width: 196px;
    margin: 28px 0;
  } */
  #egg_shape{
    /* height: 305px; */
    /* margin: 45px 0; */
    box-shadow: 1px 0px 79px 4px #070707;
  }

}

/*@media (max-width: 736px) {
  .infoContainer {
    text-align: left;
    margin: 58px 51px;
    width: 100%;
  } */

  /* .developer-pic img {
    margin: 0 -98px;
  } 
 
}*/

@media (max-width: 633px) {
  .display {
    display: block;
  }

  .nonedis {
    display: none;
  }

  .left {
    display: block;
  }
  .menu {
    display: block;
  }
  .right {
    display: none;
  }
  .dowld{
    width: 105px;
  }
}

@media (max-width:768px){

  h3{
    font-size: 50px;
    padding: 30px;
    border: none;
  }
  .exp-detail p{
   
    margin: 0;
    padding: 4px 12px;
    line-height: 1.5;
    font-size: 14px;
    background: darkslategrey;
    border-radius: 10px;
  }
  .heading-line{
    margin: 21px 0;
  }

  button.detail-btn{
    padding: 2px;
    width: 134px;
    font-size: 19px;
  }

  p.detl-line{
    width: 241px;
    font-size: 11px;
    font-weight: 600;
    padding: 8px;
    text-align: center;
  }

  .developer-pic img{
    box-shadow:  45px 40px -34px #00000063;
  }
  .top-section{
    width: 135px;
  }

  /* .S-bar{

  } */
  h2.logo{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 39px;
  }
  .logo img{
    width: 83px;
    height: 87px;
  }
  .bars{
    margin: 30px 0px;
  }
  li{
    padding: 9px 0;
  }
  .bars a{
    font-size: 14px;
    font-family: system-ui;
  }

  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    margin: 0px 10px;
    font-size: 18px;
}

  .Education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .topInfo{
    width: 272px;
    padding: 0px 0px;
  }

  .edu-head{
    font-size: 20px;
    font-family: system-ui;
  }

  button.edu-btn{
    width: 64px;
    height: 62px;
    font-size: 14px;
  }

  button.edu-open{
    width: 64px;
    height: 62px;
    font-size: 14px;
  }


  .contact_detl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .call:hover{
    width: 300px;
  }
  .whats:hover{
    width: 300px;
  }
  .email:hover{
    width: 300px;
  }
  .linkedin:hover{
    width:300px;
  }
  .github:hover{
    width: 300px;
  }
  .location:hover{
    width: 300px;
  }
  .logo-detl{
    width: 329px;
  }
  /* .intro p{

  } */

  .cricket p {
    width: 207px;
    font-size: 14px;
}
.issport{
  flex-direction: column;
}
.cricket img{
  width: 200px;
}
.exp-detail p{
  color: aliceblue;
    font-size: 16px;
    width: 100%;
    padding: 14px;
    text-align: justify;
    word-spacing: 2px;
}
.hello{
  font-size: 50px;
    padding: 0;
    margin: 0;
}
.name span{
  font-size: 32px;
    margin: 0;
    padding: 0;
}
.field{
  font-size: 20px;
}
.about{
  margin: auto;
  padding: 0;
  font-size: 14px;
  font-family: system-ui;
}

.info-btns{
  padding: 0;
}
.dowld{
  font-size: 13px;
}
.alert p{
  background-color: none
  ;
}

}

@media (max-width: 900px) {
  .text-name {
    display: none;
  }
  .left a {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .text-name h1 {
    font-size: 19px;
  }
  .text-name h2 {
    margin: 2px;
    font-size: 17px;
  }
  span img {
    height: 60px;
  }
  .contact_detl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #set_map{
    position: relative;
    text-align: right;
    width: 360px;
    height: 400px;
    margin-top: 20px;
    margin-right: 62px;
  }
}
